<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compose</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Discuss</a>
            </div>
        </nav>
    </header>

    <main class="container mt-5">
        <h1>Compose</h1>
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Question</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter question" required>
            </div>
            <div class="form-group">
                <label for="post">Description</label>
                <textarea class="form-control" id="post" name="question" rows="7" cols="30" placeholder="A short description" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Publish</button>
        </form>
    </main>

    <footer>
        <!-- Footer content goes here -->
    </footer>

    <!-- Bootstrap JS Bundle -->
    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
